<div class ="container">
  <div class ="row">

    <div class ="col-md-10">
      <%= form_with model: @post do |f| %>
        <div class ="form-group">
           <label>Title</label> </br>
          <%= f.text_field :title %>
        </div>
        <div class ="form-group">
          <label>text</label> </br>
          <%= f.text_area :text %>
        </div>
        <div class ="form-group">
          <%= f.submit '投稿する', class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>

  </div>
</div>